:root {
    --num-cols: 1300;
    --num-rows: 1000;
    --cell-width: 10px;
    --cell-height: 10px;
}
/*
.billboard {
    display: grid;
    grid-template: repeat(var(--num-rows), var(--cell-height)) / repeat(var(--num-cols), var(--cell-width));
    padding: 5vh;
} */

.billboard-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh;
}

#canvas {
    cursor: none;
}

#cursor {
    position: absolute;
    width: var(--cell-width);
    height: var(--cell-height);
    background-color: transparent;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: none;
}