:root {
    --num-cols: 1300;
    --num-rows: 1000;
    --cell-width: 10px;
    --cell-height: 10px;
}

.billboard-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10vh;
}

#canvas {
    cursor: none;
    margin-bottom: 10vh;
}

#cursor {
    position: absolute;
    width: var(--cell-width);
    height: var(--cell-height);
    background-color: transparent;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: none;
}